In [1]:
 def say_hello():
        print("hello")
        print("how")
        print("are")
        print("you")

In [2]:
say_hello()

hello
how
are
you

In [3]:
def say_hello(name):
    print(f'Hello {name}')

In [4]:
say_hello('Soumya')

Hello Soumya

In [5]:
say_hello()

TypeError: say_hello() missing 1 required positional argument: 'name'

Default Arguments

In [ ]:
def say_hello(name='Default'):    
    print(f'Hello {name}')

In [ ]:
say_hello()

In [ ]:
def add_num(num1, num2):
    return num1 + num2

In [ ]:
result = add_num(10,20)

In [ ]:
result

In [ ]:
def print_result(a,b):
    print(a+b)

In [ ]:
def return_result(a,b):
    return (a+b)

In [ ]:
print_result(10,50)

In [ ]:
result = print_result(10,50)

In [ ]:
result

In [ ]:
type(result)

In [ ]:
return_result(10,50)

In [ ]:
result = return_result(10,50)

In [ ]:
result

In [ ]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [ ]:
result = myfunc(10,20)

In [ ]:
result

# FUNCTIONS with LOGIC

In [6]:
2 % 2

0

In [7]:
3 % 2

1

In [8]:
20 % 2 == 0

True

In [9]:
def even_check(num):
    return num % 2 == 0

In [10]:
even_check(20)

True

In [11]:
even_check(21)

False

In [12]:
# RETURN TRUE IF ANY NUMBER IS EVEN INSIDE LIST

In [13]:
def check_even_list(num_list):
    
    for num in num_list:
        if num % 2 == 0:
            return True
        else:
            pass

In [14]:
check_even_list([1,3,5])

In [15]:
check_even_list([2,3,5])

True

# TUPLE UNPACKING WITH FUNCTIONS

In [16]:
stock_prices = [('APPLE', 200), ('GOOGLE',400), ('MICROSOFT',100)]

In [17]:
for item in stock_prices:
    print(item)

('APPLE', 200)
('GOOGLE', 400)
('MICROSOFT', 100)

In [18]:
for ticker, price in stock_prices:
    print(ticker)

APPLE
GOOGLE
MICROSOFT

In [19]:
for ticker, price in stock_prices:
    print(price + 0.1*price)

220.0
440.0
110.0

In [20]:
work_hours = [('Abby',100), ('Billy',200),('Cassie',300)]

In [21]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
        
    return(employee_of_month, current_max)

In [22]:
employee_check(work_hours)

('Cassie', 300)

In [23]:
result = employee_check(work_hours)

In [24]:
name,hours = employee_check(work_hours)

In [25]:
result

('Cassie', 300)

In [26]:
name

'Cassie'

In [27]:
hours

300

# INTERACTIONS BETWEEN PYTHON FUNCTIONS

In [28]:
numlist = [1,2,3,4,5,6,7]

In [29]:
from random import shuffle

In [30]:
shuffle(numlist)

In [31]:
numlist

[3, 7, 5, 4, 6, 2, 1]

In [32]:
def shufflelist(numlist):
    shuffle(numlist)
    return numlist

In [33]:
result = shufflelist(list)

In [34]:
result

[4, 1, 6, 7, 5, 3, 2]

In [35]:
list = [' ','O',' ']

In [36]:
shufflelist(list)

[' ', 'O', ' ']

In [39]:
def player_guess():
    
    guess = ' '
    
    while guess not in ['0','1','2']:
        guess = input('Pick a number: 0, 1 or 2: ')
        
    return int(guess)

In [40]:
player_guess()

Pick a number: 0, 1 or 2: 2

2

In [41]:
myindex = player_guess()

Pick a number: 0, 1 or 2: 2

In [42]:
myindex

2

In [43]:
def check_guess(list,guess):
    if list[guess] == 'O':
        print('Correct!')
    else:
        print('Wrong guess!')
        print(list)

In [65]:
#INITIAL LIST
list = [' ','O',' ']

#SHUFFLE LIST
mixed_up_list = shufflelist(list)

#USER GUESS
guess = player_guess()

#CHECK GUESS
check_guess(mixed_up_list, guess)

Pick a number: 0, 1 or 2: 2
Wrong guess!
[' ', 'O', ' ']

# **args AND ****kwargs

In [66]:
def myfunc(a,b):
    #Returns 5% of sum of a and b
    return sum((a,b)) * 0.05

In [67]:
myfunc(40,60)

5.0

Note:

a and b are POSITIONAL ARGUMENTS.

a = 40 and b = 60 (because of positions)

We can use DEFAULT ARGUMENTS but only to a limited extent.

*args allows us to pass AS MANY ARGUMENTS as we want!!

In [68]:
def myfunc(*args):
    print(args)

In [69]:
myfunc(10,20,30,40,50)

(10, 20, 30, 40, 50)

NOTE:
    
    args can be ANY WORD, just should be followed by asterisk(*)
    But use for convention.

In [70]:
def myfunc(*args):
    for item in args:
        print (item)

In [71]:
myfunc(10,20,30,40,50)

10
20
30
40
50

In [72]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [73]:
myfunc(fruit='Apple')

My fruit of choice is Apple

In [74]:
myfunc(fruit='Apple', veggie = 'lettuce')

My fruit of choice is Apple

In [75]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [76]:
myfunc(fruit='Apple', veggie = 'lettuce')

{'fruit': 'Apple', 'veggie': 'lettuce'}
My fruit of choice is Apple

NOTE !!!

args return TUPLE

kwargs return DICTIONARY

In [77]:
def myfunc(*args, **kwargs):
    
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0], kwargs['food']))

In [78]:
myfunc(10,20,30,fruit='orange', food='idli', animal = 'dogs')

(10, 20, 30)
{'fruit': 'orange', 'food': 'idli', 'animal': 'dogs'}
I would like 10 idli

# LAMBDA EXPRESSIONS MAP and FILTER

Lambda expressions are wa way to quickly create what are known as anonymous functions, basically just one-time use functions which are never referenced again.

In [79]:
def square(num):
    return num*num

In [80]:
my_nums = [1,2,3,4,5]

In [81]:
map(square,my_nums)

In [82]:
for item in map(square, my_nums):
    print (item)

1
4
9
16
25

In [83]:
del list #because LIST variable is already used in notebook :/

In [84]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [85]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [86]:
names = ['Andy', 'Eve', 'Sally']

In [87]:
list(map(splicer,names))

['EVEN', 'E', 'S']

FILTER FUNCTION

In [88]:
def check_even(num):
    return num%2 == 0

In [89]:
mynums = [1,2,3,4,5,6]

In [91]:
filter(check_even,mynums)

In [92]:
list(filter(check_even,mynums))

[2, 4, 6]

In [94]:
for item in filter(check_even,mynums):
    print (item)

2
4
6

# LAMBDA EXPRESSIONS

In [95]:
def square(num):
    result = num**2
    return result

In [96]:
square(3)

9

In [97]:
def square(num):
    return num**2

In [98]:
square(3)

9

In [99]:
square = lambda num: num**2 #LAMBDA expression

In [100]:
square(5)

25

In [101]:
map(lambda num: num**2, mynums)

In [102]:
list(map(lambda num: num**2, mynums))

[1, 4, 9, 16, 25, 36]

In [104]:
list(filter(lambda num: num%2==0, mynums))

[2, 4, 6]

In [105]:
list(map(lambda x: x[0], names))

['A', 'E', 'S']

In [106]:
list(map(lambda x: x[::-1], names))

['ydnA', 'evE', 'yllaS']